{{! FOOTER }}
<footer id='footer'>
    {{! top footer }}
    <div class='section'>
        {{! container }}
        <div class='container'>
            {{! row }}
            <div class='row'>
                <div class='col-md-3 col-xs-6'>
                    <div class='footer'>
                        <h5 class='footer-title'>Về chúng tôi</h5>
                        <ul class='footer-links'>
                            <li><a href='#'>Giới thiệu về Electrohub</a></li>
                            <li><a href='#'>Quy định của chúng tôi</a></li>
                            <li><a href='#'>Chính sách bảo mật</a></li>
                            <li><a href='#'>Tuyển dụng</a></li>
                            <li><a href='#'>Điều khoản hoạt động</a></li>
                        </ul>
                    </div>
                </div>

                <div class='col-md-3 col-xs-6'>
                    <div class='footer'>
                        <h5 class='footer-title'>Khách hàng</h5>
                        <ul class='footer-links'>
                            <li><a href='#'>Hướng dẫn mua online</a></li>
                            <li><a href='#'>In hóa đơn điện tử</a></li>
                            <li><a href='#'>Cảnh báo giả mạo</a></li>
                            <li><a href='#'>Tích điểm quà tặng VIP</a></li>

                        </ul>
                    </div>
                </div>

                <div class='col-md-3 col-xs-6'>
                    <div class='footer'>
                        <h5 class='footer-title'>Theo dõi chúng tôi trên </h5>
                        <ul class='footer-links'>
                            <li><a href=''>
                                    <i class='fa-brands fa-facebook'></i>
                                    Facebook
                                </a></li>
                            <li><a href=''>
                                    <i class='fa-brands fa-instagram'></i>
                                    Instagram
                                </a></li>
                            <li><a href=''>
                                    <i class='fa-brands fa-twitter'></i>
                                    Twitter
                                </a></li>

                        </ul>
                    </div>
                </div>

                <div class='col-md-3 col-xs-6'>
                    <div class='footer'>
                        <h5 class='footer-title'>Dịch vụ hỗ trợ</h5>
                        <ul class='footer-links'>
                            <li><a href='#'></a></li>
                            <li><a href='#'>Khiếu nại</a></li>
                            <li><a href='#'>Bảo hành</a></li>
                            <li><a href='#'>Đổi trả</a></li>
                            <li><a href='#'>Trả góp 0%</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {{! /row }}
        </div>
        {{! /container }}
    </div>
    {{! /top footer }}

    {{! /bottom footer }}
    <!--<img width="1500" height="44" loading="lazy" class="owl-lazy lazyloaded" data-src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/2024/04/banner/1200-44-copy-1200x44-3.png" alt="Quạt điều hòa chung" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/2024/04/banner/1200-44-copy-1200x44-3.png">-->
</footer>
{{! /FOOTER }}