<!-- LOGIN  start-->
<div class='login'>
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-lg-6 mx-auto'>
                <div class='login-form'>
                    <form action='/handle-sign-in' method='post'>
                        <div class='row'>
                            <legend class='text-center'> Đăng Nhập</legend>
                            <div class='col-md-6 mt-4'>
                                <label for='username'>Tên Đăng Nhập</label>
                                <input id='username' name='username' class='form-control' type='text' />
                            </div>
                            <div class='col-md-6 mt-4'>
                                <label for='password'>Mật Khẩu</label>
                                <input id='password' name='password' class='form-control' type='password' />
                            </div>
                            <div class='col-md-12'>
                                <legend class='noti'>
                                    {{message}}
                                </legend>
                            </div>
                            <div class='col-md-12 mt-4 text-center'>
                                <button class='btn btn-outline-danger'>Đăng Nhập</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- LOGIN  end-->